
body {
  background-image:url('img/back.svg');
  background-repeat: no-repeat;
  text-align: center;
    
}


#header{
 font-size:35px;
 text-align: center;  
 margin-top:50px;
    
  
}

#search_area{
    margin-top: 35px;
    display: inline-block;
}

#search_box{
     
     float:none;
     align-self: center;
     height: 40px;
     width: 700px;
     border-style:inherit;
     border-radius: 10px;
     margin-left:0;
     margin-right:0;
    
}


input:focus {
        outline:none;
    }



#search_box input[type="text"]:focus {
   outline: none;
}

#search_button{
    
    z-index:1;
    position:absolute;
    cursor: pointer;
    background-image: url('img/search-solid.svg');
    background-repeat: no-repeat;
    filter:grayscale(1);
    height:40px;
    width:25px;
    margin-top:0px;
    margin-left:-89px;
    padding-left:30px;
    padding-right:60px;
    background-size: contain;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0;
    border-style:none;
    background-size:20px;
    background-position: center;
    background-color: white;
    opacity: 0.75;
        
}

#search_button:hover{
    opacity: 1;
}

#search_cancel{
    position:absolute;
    
    cursor: pointer;
    background-image: url('img/times-solid.svg');
    background-repeat: no-repeat;
    background-color: white;
    filter:grayscale(1);
    height:40px;
    width:30px;
    margin:0;
    padding:0;
    border-radius: 10px;
    border-style: none;
    border-left-style: solid;
    border-left-color: grey;
    border-left-width:thin;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left:-5px;
    background-size:10px;
    background-position: center;
    opacity:0.6;
    
}





#search_cancel:hover{
    opacity: 1;
}

.company_profile_result{
    display:inline-block;
    
    margin:3px;
    
    padding-bottom:15px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    min-width:550px;
    
    
}




#company_profile_result_first{
   width:140px;
   height:140px;
   margin-top:0px; 
   padding-bottom:5px;

    
    
}



.left_content_company_profile{
    text-align: left;
    margin-right: 2px; 
    padding-top: 5px;
    display: inline;
    
}

.right_content_company_profile{
    text-align: left;
    margin: 0; 
    display: inline;
    padding-top: 5px;
}




.tab_div {
overflow: hidden;
  margin-left:250px;
  margin-right:200px;
  max-width: 1300px; 
  margin-top: 140px;
  border: none;
  background-color:#f8f9fa;
}



.tab{
    display:none;
    border:none;
    float:left;
    cursor: pointer;
    padding: 20px 24px;
    font-size:15px;
    background-color:#f8f9fa;
    
    
}

.tab:hover {
  background-color: lightgrey;
}



#error{
    display:unset;
    margin-top:100px;
    
    min-height: 30px;
    background-color: gray;
    
}

#error_message{
    
    background-color: lightgray;
    margin-top: 150px;
    max-width: 700px;
    margin-left: 650px;
    padding-top:25px;
    padding-bottom: 5px;
    max-height: 80px;
    min-height: 60px;
    border-radius: 10px;
    border-style: none;
    
    
}


#result1{
    display:unset;
    position:absolute;
    margin-top:50px;
    left:700px;
    max-width: 300px;
    min-height: 200px;
    

    
    
}

#result2{
    display:none;
    position:absolute;
    left:800px;
    max-width: 300px;
    margin-right:400px;
    margin-top:10px;
    
}





#result2_part1{
    padding-top:10px;
}





.stock_summary_result{
    
    border-top-style: solid;
    border-top-width: thin;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#change_id_red{
    background-image: url('img/RedArrowDown.png');
    background-position: right 75px bottom 6px;
    
    background-size: 15px;
    background-repeat:no-repeat;
    
        
}


#change_id_green{
    background-image: url('img/GreenArrowUp.png');
    background-position: right 75px bottom 6px;
    
    background-size: 15px;
    background-repeat:no-repeat;
    
        
}



#change_percent_id_red{
    background-image: url('img/RedArrowDown.png');
    background-position: right 40px bottom 5px;
    background-size: 15px;
    background-repeat: no-repeat;
    
    padding-bottom: 2px;
    
}




#change_percent_id_green{
    background-image: url('img/GreenArrowUp.png');
    background-position: right 40px bottom 5px;
    background-size: 15px;
    background-repeat: no-repeat;
    
    padding-bottom: 2px;
    
}





#grid{
  border-top-style: solid;
  border-top-width: thin;
  min-width:320px;
align-self:center;
    
    
}

.grid_element{
      display: inline-block;
      margin:0px;
      width:40px;
      height:30px;
      color:white;
     padding-top:10px;
      text-align: center;

}

#strongSell{
    color:#ed2938;
    margin-right:20px;
    
}

#strongBuy{
    color:#00ff7f;
    margin-left:10px;
}

#grid_0{
    background-color: #ed2938;
}


#grid_1{
    background-color: #b25f4a;
}

#grid_2{
    background-color: #77945c;
}


#grid_3{
    background-color: #3bca6d;
}

#grid_4{
    background-color: #00ff7f;
}

#recommendation_trends_id{
    padding-left:20px;
}





#result3{
    display:none;
    margin-top:50px;
    width: 600px; 
    height:100px;
    
}


#result4{
    margin-top:50px;
    display:none;
    margin-top:0px;
    
}


.news_image{
    
    height: 100px;
    width: 100px;
    padding-top:10px;
    padding-left:-100px;
    margin-right:10px;
    float: left;
    
}


.company_news_result{
    background-color: #f8f9fa;
    margin:15px;
    margin-left:250px;
    width: 1300px;
    height:120px;
    
}


.news_title{
    font-weight: bold;
    margin-left: 20px;
    text-align: left;
    margin-bottom: 1px;
    
}

.news_date{
    text-align: left;
    margin-top:0px;
    margin-bottom: 1px;
}

.news_url{
    float:left;

}




#container{
   display:none;
    position:absolute;
    height: 500px;
    min-width: 1370px;
    
    margin-top: 10px;
    left:200px;
}


.recommendation_trends_id{
   
}


